aiohttp==1.0.5
ass==0.4.2
async-timeout==1.1.0
beautifulsoup4==4.5.3
biopython==1.68
bleach==1.5.0
chardet==2.3.0
colorama==0.3.7
decorator==4.0.11
discord.py==0.16.7
entrypoints==0.2.2
GridDataFormats==0.3.3
html5lib==0.9999999
ipykernel==4.5.2
ipython==5.3.0
ipython-genutils==0.1.0
ipywidgets==6.0.0
Jinja2==2.9.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==5.1.0
jupyter-core==4.3.0
lxml==3.7.2
MarkupSafe==0.23
mistune==0.7.3
multidict==2.1.4
nbconvert==5.1.1
nbformat==4.3.0
networkx==1.11
notebook==4.4.1
numpy==1.11.2
pandocfilters==1.4.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
py==1.10.0
Pygments==2.2.0
pytest==3.0.5
python-dateutil==2.6.0
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.12.4
simplegeneric==0.8.1
six==1.10.0
testpath==0.3
tornado==4.4.2
traitlets==4.3.2
urllib3==1.20
wcwidth==0.1.7
websockets==3.2
widgetsnbextension==2.0.0
win-unicode-console==0.5
XlsxWriter==0.9.6
